<table>

  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Price</th>
      <th>Type</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let x of this.products">
      <td>{{x._id}}</td>
      <td>{{x.name}}</td>
      <td>{{x.price}}</td>
      <td>{{x.type}}</td>
      <td>{{x.desc}}</td>
    </tr>
  </tbody>

</table>

Add a product
<div class="input-group">
  <input type="text" name="id" placeholder="id" [(ngModel)]="id">
  <input type="text" name="name" placeholder="name" [(ngModel)]="name">
  <input type="text" name="price" placeholder="price" [(ngModel)]="price">
  <input type="text" name="type" placeholder="type" [(ngModel)]="type">
  <input type="text" name="desc" placeholder="desc" [(ngModel)]="desc">
  
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button" (click)="addProduct(id, name, price, type, desc)">Add Product</button>
  </div>
</div>